@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* Fluid Type Scale */
  --step--2: clamp(0.69rem, 0.66rem + 0.16vw, 0.78rem);
  --step--1: clamp(0.83rem, 0.78rem + 0.24vw, 0.98rem);
  --step-0: clamp(1rem, 0.93rem + 0.33vw, 1.19rem); /* Base */
  --step-1: clamp(1.2rem, 1.11rem + 0.45vw, 1.46rem);
  --step-2: clamp(1.44rem, 1.32rem + 0.6vw, 1.78rem);
  --step-3: clamp(1.73rem, 1.57rem + 0.79vw, 2.18rem);
  --step-4: clamp(2.07rem, 1.86rem + 1.05vw, 2.67rem);
  --step-5: clamp(2.49rem, 2.21rem + 1.38vw, 3.28rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* Fluid Spacing Scale */
  --space-3xs: clamp(0.25rem, 0.23rem + 0.11vw, 0.31rem);
  --space-2xs: clamp(0.5rem, 0.46rem + 0.22vw, 0.63rem);
  --space-xs: clamp(0.75rem, 0.69rem + 0.33vw, 0.94rem);
  --space-s: clamp(1rem, 0.91rem + 0.43vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.37rem + 0.65vw, 1.88rem);
  --space-l: clamp(2rem, 1.83rem + 0.87vw, 2.5rem);
  --space-xl: clamp(3rem, 2.74rem + 1.3vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.65rem + 1.74vw, 5rem);
  --space-3xl: clamp(6rem, 5.48rem + 2.61vw, 7.5rem);

  /* One-up pairs for flexible gutters */
  --space-s-m: clamp(1rem, 0.69rem + 1.55vw, 1.88rem);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom scrollbar for better dark mode look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
